<div class="container">
    <p>Customer's list</p>
    <div class="row box" *ngFor="let item of userList; let i = index;" (click)="onCustomerClick($event, i,item.mobile)">
        <div class="col-6">
            <div class="customer_name">{{item.name}}</div>
            <div class="customer_m_no"><span style="font-size: 12px; color:#aaa; font-weight: 300;">+91</span>
                {{item.mobile}}</div>
        </div>
        <div class="col-6 my-auto" style="text-align: right;">
            <!-- <button style="margin:3px;" class="right">Call</button> -->
            <!-- <a style="margin:3px;" href={{item.mobile}}>Call</a> -->
            <button style="margin:3px;" class="btn btn-primary btns">Book</button>
            <button style="margin:3px;" class="btn btn-primary btns">Break</button>
        </div>
    </div>
</div>