<div class="container">
    <div class="row serachCont">
        <div class="col-9">
            <form class="input-form">
                <mat-form-field class="input-full-width" style="margin-top:6px;">
                    <input matInput placeholder="Search" value="" (input)="inputTxtChanged($event.target.value)">
                </mat-form-field>
            </form>
        </div>
        <div class="col-3 right" style="margin-top:18px;">
            <button mat-flat-button color="primary" style="position: relative; float: right;"><i class="material-icons"
                    style="margin:0; font-size:22px;">search</i></button>
        </div>
    </div>

    <div class="row" style="padding: 6px;">
        <div style="position: relative; padding-right: 0px; padding-left: 6px; ">
            <mat-checkbox [checked]='true' style="margin-right: 12px;">All</mat-checkbox>
        </div>
        <div style="position: relative; padding-right: 0px; padding-left: 6px;">
            <mat-checkbox [checked]='false' style="margin-right: 12px;">active</mat-checkbox>
        </div>
        <div style="position: relative; padding-right: 0px; padding-left: 6px;">
            <mat-checkbox [checked]='false' style="margin-right: 12px;">in-active</mat-checkbox>
        </div>
    </div>

    <!-- <p style="margin-left: -6px">Customer's list</p> -->
    <div class="row box" *ngFor="let item of userList | filter:searchText; let i = index;"
        (click)="onCustomerClick($event, i,item.mobile)" id="{{'list_' + i}}">
        <div class="col-9" style="margin-left: -6px; margin-right: -6px">
            <div style="position: relative; float: left; padding-right: 6px;">
                <mat-checkbox [checked]='item.checked'></mat-checkbox>
            </div>
            <div class="customer_name">{{item.name}}</div>
            <div class="customer_m_no"><span style="font-size: 12px; color:#aaa; font-weight: 300;">+91</span>
                {{item.mobile}}</div>
        </div>
        <div class="col-3 my-auto" style="text-align: right; margin-left: -6px; margin-right: -6px;">
            <!-- <button style="margin:3px;" class="right">Call</button> -->
            <!-- <a style="margin:3px;" href={{item.mobile}}>Call</a> -->
            <button style="margin:3px;" class="btn btn-primary btns">View</button>
            <!-- <button style="margin:3px;" class="btn btn-primary btns">Break</button> -->
        </div>
    </div>
</div>
<footer class="fixed-bottom" style="background: #008000; color:#fff; text-align: center; padding: 12px; z-index: 100;"
    (click)="assign()">Assign</footer>