<div class="container">
    <div class="row" style="border-bottom: 1px solid #ccc;">
        <div class="col-4" style="border-left: 1px solid #ccc;" (click)="clickToHome()">Thinkspot</div>
        <div class="col-8" style="padding-right: 0;">
            <div style="position: relative; float: right;  border-right: 1px solid #ccc;" (click)="add_person()">
                <i class="material-icons">person_add</i>
            </div>
            <div style="position: relative; float: right;  border-right: 1px solid #ccc;" (click)="view_customers()">
                <i class="material-icons">people</i>
            </div>
            <div style="position: relative; float: right; border-right: 1px solid #ccc;  border-left: 1px solid #ccc;"
                (click)="report()">
                <i class="material-icons">
                    show_chart
                </i>
            </div>
        </div>
    </div>
</div>